.container {
  font-family: 'Inconsolata', monospace;
  margin: 5%;
}

div {
  text-align: center;
  align: center;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  color: #000000;
}

.link {
  color: #000000;
}

.text {
  color: #04D1B2;
}

.link:hover, .text:hover {
  color: #04D1B2;
  text-decoration: underline;
}

.draggable {
  display: inline-block;
  margin: 3%  2% 3% 1.5%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.bio {
  float: right;
}
